.container {
    grid-area: Header;
    box-shadow: 0 2px 0 0 #26192B;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.marquee {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3.2vw;
    overflow: hidden;
    width: 100%;

    user-select: none;
}

.marquee span {
    display: inline-block;
    white-space: nowrap;
    color: #00112C;
    width: var(--vw);
    text-shadow: var(--vw) 0 currentColor,
        calc(var(--vw) * 2) 0 currentColor,
        calc(var(--vw)* 3) 0 currentColor,
        calc(var(--vw) * 4) 0 currentColor;

    will-change: transform;
    animation: marquee 14s linear infinite;
    animation-play-state: running;
}

.marquee:hover span {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*  
 * on MacOs: System Preferences > 
 *           Accessibility > 
 *           Display > Reduce motion
 */

@media (prefers-reduced-motion: reduce) {
    .marquee span {
        animation: none;
        text-shadow: none;
        width: auto;
        display: block;
        line-height: 1.5;
        text-align: center;
        white-space: normal;
    }
}

@media screen and (max-width: 768px) {
    .marquee {
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    .marquee {
        font-size: 2.5vh;
    }

    .marquee span {
        animation-duration: 20s;
    }
}
