.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: Aside;
    width: var(--aside-width);
    transition: width 1s;
    box-shadow: -2px 0px 0px 0 #26192B;
}

.isClosed {
    width: 0;
    transition: width 1s;
    border: none;
}

@media screen and (max-width: 768px) {
    .container {
        display: none;
    }
}

@keyframes curtain {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
