.container {
    display: grid;
    grid-template-columns: 2fr min-content;
    grid-template-rows: 0.5fr 4.5fr 0.5fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Header Header"
        "Main Aside"
        "Menu Aside"
        "Menu Aside"
        "Menu Aside";

    width: 100%;

    border: 2px solid #26192B;
    border-radius: 10px;
    box-shadow: 4px 4px 0px #18191F;
    overflow: hidden;

}

@media screen and (max-width: 768px) {
    .container {
        grid-template-rows: 5fr 50px 50px 50px;
        grid-template-areas:
        "Main"
        "Menu"
        "Menu"
        "Menu";

    }
}