.container {
    display: inline-block;
    background-color: #E1C2EB;
    line-height: normal;
    position: relative;

}

.container:hover {
    cursor: pointer;
}

.tooltip {
    cursor: auto;
    display: block;
    position: absolute;
    right: -110px;
    top: 29px;
    background: #fff;
    padding: 5px;
    border: 2px solid #26192B;
    border-radius: 10px;
    box-shadow: 4px 4px 0px #18191f;

    font-size: 2vw;
    line-height: 2.2vw;
    max-width: 100px;

    z-index: 10;

    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.isClosed {
    display: none;
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 4px 4px 0px #18191f;
    transform: translateX(-6px) translateY(0);
  }
  100% {
    box-shadow: 4px 4px 0px #18191f;
    transform: translateX(0) translateY(6px);
  }
}

@media screen and (min-width: 1200px) {
  .tooltip {
    max-width: 190px;
    padding: 10px 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    pointer-events: none;
  }
}
