.container {
    margin: 0 0 0 22px;
    overflow-y: scroll;
    max-height: 100%;
    font-size: 2.829vw;
    line-height: 4.703vw;
}
.title {
    font-size: 3.125vw;
    font-weight: 700;
    line-height: 4.931vw;
}

.wrapper {
    max-width: 770px;
    margin: 0 22px;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 23px;
        line-height: 39px;
        margin: 0 0 0 10px;
    }

    .title {
        font-size: 29px;
        line-height: 47px;
    }
    .wrapper {
        margin: 0 10px;
    }
}