.container {
    grid-area: Main;
    margin: 0 0 0 22px;
    overflow-y: scroll;
    max-height: 100%;
    font-size: 2.829vw;
    line-height: 4.703vw;
}

.wrapper {
    max-width: 770px;
    margin: 0 22px;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 22px;
        line-height: 29px;
        margin: 0 0 0 10px;
    }
    .wrapper {
        margin: 0 10px;
    }
}