.container {
    grid-area: Main;
    overflow-y: scroll;
    height: 60vh;

}

.wrapper {
    margin: 0 22px;
}

@media screen and (min-width: 768px) {
    .wrapper {
        font-size: 2.8vw;
        line-height: 4.2vw;
    }
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 22px;
        line-height: 29px;
        margin: 0 0 0 10px;
    }
    .wrapper {
        margin: 0 10px;
    }
}