:root {
  --vw: 29vw;
  --s: 4s;
}

@media screen and (max-width: 780px) {
  :root {
    --vw: 23vh;
  }
}

body {
  font-family: 'Crimson Pro', serif;
  color: #26192B;
  font-size: 32px;
  line-height: 1.35;
  overflow: hidden;
}

body a {
  color: #26192B;
  text-decoration: none;
  box-shadow: inset 0 -3px #c46fb2;
  transition: all .3s;
}

body a:hover {
  cursor: pointer;
  color: #c46fb2;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 28px;
    line-height: 38px;
  }
}
