@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --vw: 28vw;
  --s: 4s;
  --aside-width: 300px;
}
@media screen and (max-width: 768px) {
  :root {
    --vw: 61vw;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --vw: 104vw;
  }
}

.container * {
  position: relative;
  
}

.container *:after{
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Crimson Pro', serif;
  color: #26192B;
  font-size: 28px;
  line-height: 49px;

}

body a {
  color: #26192B;
  text-decoration: none;
  box-shadow: inset 0 -3px #c46fb2;
  transition: all .3s;
}

body a:hover {
  cursor: pointer;
  color: #c46fb2;
}
